.sustainWrapper{
    border-radius: 8px;
    margin: 0px 10px 0px 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pieChart{

    }
}